
body {
    background-color: #ffffff;
    color: #000000;
    /* Helvetica is the "everything is okay" font */
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* debug mode */
#task div {
    border: 1px solid;
}

#rectangle div {
    font-size: 2em;
}

#stimuli {
    position: relative;
    height: 85%;
    text-align: center;
    background-color: #eeeeee;
}

#stimuli p {
    margin: 1em;
    font-size: 1em;
}

/* 'line-height' value is arbitrary; should be equal to 'height' for vertical centering */
#stimuli div.feedback {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    line-height: 300px; 
    height: 300px;
    z-index: 3;
}

#stimuli img.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* offset by half the image dimensions (8px by 8px) */
#stimuli img.fixation {
  margin-top: -8px;
  margin-left: -8px;
  z-index: 2;
}

/* 70px above fixation = -(128 + 70 ) */
#stimuli img.aboveFixation {
  margin-top: -198px;
  margin-left: -128px;
  z-index: 1;
}

/* 70px below fixation = (128 - 70 ) */
#stimuli img.belowFixation {
  margin-top: -58px;
  margin-left: -128px;
  z-index: 1;
}

#responseButtons {
    height: 15%;
    text-align: center;
    width: 100%;
    background-color: #cccccc;    
}

#responseButtons button {
    width: 20%;
    font-size: 3em;
    border-radius: 0.5em;
    margin: 0;
    padding: 0.4em;
}


